.navbar_logo {
    height: 60px;
}

.main_color {
    background-color: #95D4FD;
}

a {
    color: rgb(30, 30, 30) !important;
}

body {
    color: rgb(30, 30, 30);
    background-color: #95D4FD;
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.active {
    background-color: #7CBBE4
}